In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('ship_data.csv')
df.head()

,Passenger ID,Class,Name,Gender,Age,Siblings Count,Parents Count,Fare,Embarked,Survived
0,1,3,Alexander Harris,male,22.0,1,0,7250.0,New York,0
1,2,1,Frank Parsons,female,38.0,1,0,71283.3,Los Angeles,1
2,3,3,Anthony Churchill,female,26.0,0,0,7925.0,New York,1
3,4,1,Alexandra Hughes,female,35.0,1,0,53100.0,New York,1
4,5,3,Joan Fraser,male,35.0,0,0,8050.0,New York,0

In [3]:
female = (df[(df['Gender'] == 'female')])

In [4]:
male = (df[(df['Gender'] == 'male')])

In [5]:
print len(female), len(male)

314 577

In [6]:
c1 =  (df[(df['Class'] == 1)])
c2 =  (df[(df['Class'] == 2)])
c3 =  (df[(df['Class'] == 3)])

In [7]:
print len(c1), len(c2), len(c3)

216 184 491

In [8]:
children = df[(df['Age'] < 16)]

In [9]:
print len(children)

84

In [10]:
children_class1 = children[(children['Class'] == 1)]
children_class2 = children[(children['Class'] == 2)]
children_class3 = children[(children['Class'] == 3)]

In [11]:
print len(children_class1), len(children_class2), len(children_class3)

7 19 58

In [12]:
print df.isnull().sum()
# df[AGE] = df[AGE].fillna(0)
# df[EMBARKED] = df[EMBARKED].fillna("Not Available")

Passenger ID        0
Class               0
Name                0
Gender              0
Age               177
Siblings Count      0
Parents Count       0
Fare                0
Embarked            2
Survived            0
dtype: int64

In [13]:
alone = df[(df['Parents Count'] == 0) & (df['Siblings Count'] == 0)]
print len(alone)

537

In [14]:
family = df[(df['Parents Count'] != 0) & (df['Siblings Count'] != 0)]
print len(family)

142

In [15]:
survived = df[(df['Survived'] != 0)]
total = len(df)
print (len(survived) / float(total)) * 100

38.3838383838

In [23]:
survived_m = survived[(survived['Gender'] == 'male')]
survived_f = survived[(survived['Gender'] == 'female')]
print len(survived_m)
print len(survived_f)
print 100. * (float(len(survived_m)) / len(survived))
print 100. * (float(len(survived_f)) / len(survived))

109
233
31.8713450292
68.1286549708

In [28]:
survived_and_not_alone = df[df['Survived'] == 0 
print survived_and_not_alone

SyntaxError: invalid syntax (<ipython-input-28-860f27a9fb2d>, line 1)